
.loader {
  text-indent: -9999em;
  margin: 20% auto;
  position: relative;
  font-size: 11px; /*em的基准*/
  &, &:before, &:after {
    background: orange;
    animation: load 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  &:before, &:after {
    position: absolute;
    top: 0;
    content: '';
  }
  &:before {
    left: -1.5em;
  }
  & {
    animation-delay: 0.16s;
  }
  &:after {
    left: 1.5em;
    animation-delay: 0.32s;
  }
}

@keyframes load {
  0%,
  80%,/*停顿效果*/
  100% {
    box-shadow: 0 0 orange;
    height: 4em;
  }
  40% {
    box-shadow: 0 -1em orange;
    height: 5em;
  }
}